body {
 background: #1d351d;
 display: flex;
 justify-content: center;
}

.main {
 max-width: 100vh;
 max-height: auto;
}
.bt {
 width: 50vh;
 display: flex;
 justify-content: space-around;
}
button {
 height: 40px;
 width: 100px;
}

.foto {
 position: absolute;
 top: 20%;
}

@keyframes floop {
 0% {width: 290px;
  height: 290px;
 }
 25% {}
 50% {}
 100% { width: 300px;
  height: 300px;}
}
img {
 animation: floop 2s infinite alternate-reverse;
 width: 300px;
 height: 300px;
}